* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  font-family: cursive;
}
.card {
  padding: 50px;
  width: 650px;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  background-color: blueviolet;
  border-radius: 12px;
}
.title {
  color: aqua;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}
.english,
.uzbek {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}
.btn {
  width: 180px;
  height: 40px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(27, 5, 87);
  background-color: chocolate;
}
